name: Sync Repository

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Target Repository
        uses: actions/checkout@v4
        with:
          repository: offensive-vk/Roadmap.sh
          token: ${{ secrets.BOT_TOKEN }}
          ref: master

      - name: Configure Git
        run: |
          git config user.name "TheHamsterBot"
          git config user.email "TheHamsterBot@outlook.com"

      - name: Add Upstream Repository
        run: git remote add upstream https://github.com/kamranahmedse/developer-roadmap

      - name: Fetch Upstream Changes
        run: git fetch upstream

      - name: Merge Changes
        run: git merge upstream/master --no-edit

      - name: Push Changes to Target Repository
        run: git push origin master --force-with-lease
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN || secrets.BOT_TOKEN }}
